[data-scroll] {
  overflow-y: hidden;

  @media screen and (min-width: 49em) {
    padding-right: 10px;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  height: fit-content;
  max-height: 18rem;
  opacity: 0;
  margin-top: 0.5rem;
  background-color: var(--color-neutral);
  overflow-y: auto;
  pointer-events: none;

  li {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    > * + * {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: var(--color-light);
    }
  }

  p {
    font-size: 1rem;
    padding: 0.5rem;
  }

  img {
    width: 32px;
  }

  &[data-expanded="true"] {
    opacity: 1;
    pointer-events: all;
  }
}
