.mapcontrols {
  &__buttons,
  &__dropdown {
    position: absolute;

    [type="button"] {
      transition: all 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
      padding: 0.2rem;
      background-color: var(--color-neutral);
      color: var(--color-dark);
      border: 0.125rem solid var(--color-neutral);
      margin: 0.1rem 0.1rem 0;
      border-radius: 0.25rem;

      &:hover {
        background-color: var(--color-light);
        color: var(--color-neutral);
      }

      &[data-selected="true"] {
        box-shadow: 0 3px 0 0 var(--color-primary);
      }
    }
  }

  > :last-child {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &__buttons {
    @media screen and (max-width: 48em) {
      display: none;
    }
  }

  &__dropdown {
    margin: 0.1rem;
    
    @media screen and (min-width: 49em) {
      display: none;
    }
  }
}
