.summary {
  &__data {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);

    @media screen and (min-width: 49em) {
      flex-direction: row;
    }

    > :first-child {
      display: flex;
      flex-direction: column;
      
      @media screen and (max-width: 49em) {
        flex-direction: row;
        position: absolute;
        top: 100%;
        width: 100%;
      }
    }
  }

  &__text {
    max-width: 82rem;
    margin: 5.5rem auto 0;
    padding: 1.5rem 1rem;
    text-align: justify;

    @media screen and (min-width: 49em) {
      margin-top: 0;
    }
  }
}
