.leaflet-container {
  background: var(--color-dark);
  width: 100%;
  height: 26.15rem;
  overflow: hidden;
  cursor: auto;

  @media screen and (min-width: 49em) {
    height: 31.15rem;
    width: calc(100vw - 11.25rem);
  }

  .leaflet-popup-close-button {
    background-color: white;
  }

  .leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-neutral);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .leaflet-control-attribution {
    background: var(--color-dark);
    color: var(--color-neutral); 

    a {
      color: currentColor;
    }
  }

  .icon {
    background: var(--color-deaths);
    border-radius: 50%;
    opacity: 0.8;
  }

  .icon-active {
    background: var(--color-active);
  }

  .icon-tests {
    background: var(--color-primary);
  }

  .icon-ratio {
    background: var(--color-neutral);
  }
}
