//Global Styles
body {
  padding-bottom: 1rem;
  overflow-x: hidden;
  background-color: var(--color-neutral);
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bolder;
  color: var(--color-dark);
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  font-family: monospace;
  line-height: 1.2;
  letter-spacing: 0;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1rem;

  @media screen and (min-width: 49em) {
    font-size: 1.1rem;
  }
}

h3 {
  font-size: 1rem;

  @media screen and (min-width: 49em) {
    font-size: 1.3rem;
  }
}

a {
  color: currentColor;
}

p {
  font-size: 0.8rem;
}

aside {
  width: 100%;
  height: 100%;
}

.vh {
  //Visually hidden
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

[data-table],
.table__body {
  height: 400px;
  overflow-y: auto;
}

[alt^="National"] {
  width: 3.25rem;
  height: 2rem;
  padding: 5px;
}

caption {
  background: grey;
  padding: 0.3rem;
  margin-bottom: 10px;
  width: 100%;
}

#chart {
  cursor: pointer;
}
