//Colors
:root {
  --color-primary: rgb(0, 147, 213);
  --color-secondary: "";
  --color-neutral: rgb(255, 255, 255);
  --color-transparent: transparent;
  --color-dark: rgb(0, 0, 0);
  --color-light: rgba(32,33,36,.12);
}
